/* Fonts, colors */

body {
	background-color: rgba(230, 230, 230);
	color: rgb(50, 50, 50);
	font-family: Courrier;
	font-size: 16px;
}

h1, h2 {
	font-family: Roboto;
}
h1 {
	color: rgb(0, 0, 0);
	font-size: 28px;
	font-weight: 900;
}
h2 {
	color: rgb(34, 124, 157);
	font-size: 22px;
	font-weight: lighter;
	font-weight: 500;
}
a {
	text-decoration: none;
	color: rgb(254, 109, 115);
	padding-right: 10px;
	font-weight: 600;
	font-size: 16px;
}
a:hover {
	color: rgb(255, 203, 119);
}

/* Customs designs with class*/

.container{
	max-width: 700px;
	margin: 40px auto;
}

.card-white {
	background: white;
	padding: 30px;
	box-shadow: 0px 10px 30px rgba(38, 55, 134, 0.2);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle {
	border-radius: 50%;
	width: 100px;
}

.btn-blue {
	background-color: rgb(34, 124, 157);
	color: white;
	padding: 10px;
	border-radius: 4px;
	font-size: 16px;
}

.btn-blue:hover {
	background-color: rgb(23, 195, 178);
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 10px;
}
.list-inline li {
	display: inline;
	padding: 0px;
}
.list-inline i {
	font-size: 35px;
	color: rgb(254, 109, 115);
}

.list-inline i:hover {
	color: rgb(255, 203, 119);
}

#introduction p {
	margin-bottom: 40px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
